$hovercolor: #41CDD6;
$border:1px solid #BBBBBB;
$transition: all .4s ease; 

#header{
	.container{
		.row{
			border: $border;
			border-right: 1px solid white;
			border-top: none;
			padding: 0;
			.col-lg-7{	
				padding: 0;
				height: 69px;
				.col-lg-2{
					
					padding: 0;
					width: 70px;
					height: 69px;					
					border-right:$border; 
					span{
						float: left;
						margin-left: 15px;
						&:hover{
							p{
								color: $hovercolor;
								transition: $transition;
							}
						}
						p{
							font-weight: bold;
							font-size: 24px;
							margin-right: 8px;
							line-height: 69px;
							text-align: center;
							float: left;
						}
						i{
							float: left;
							line-height: 69px;
						}
					}
				}
				.col-lg-8{
					padding-right: 0;
					margin-top: 10px;
					span{
						&:hover{
							p{
								color: $hovercolor;
								transition: $transition;
							}
						}
						p{
						font-weight: bold;
					}
					}
				}
			}
			.col-lg-5{
				padding: 0;
				height: 69px;
				.col-lg-6{
					padding: 0;				
					border-right:$border; 
					height: 69px;	
					span{
						&:hover{
							p{
								color: $hovercolor;
								transition: $transition;
							}
						}
						p{
							float: right;
							margin-top: 26px;
							margin-right: 8px;	
    						font-size: 16px;
						}
					}
				}
				.col-lg-2{
					
					padding: 0;
					width: 81px;
					height: 69px;					
					border-right:$border;
					
					span{
						float: left;
						margin-left: 15px;
						&:hover{
						i{
							color: $hovercolor;
							transition: $transition;
						}
						}
						i{
						
							font-size: 30px;
						    display: inline-block;
    						margin: 17px 0 0 10px;
						}
					}
				}
			}
		}
	}
}
#logo{
	.container{
		.row{
			.col-lg-4{
				margin: 45px 0;	
			}
		}
	}
}
#slide{
	.item{
		h1{
			position: relative;
			top: 50px;
			left: 100px;	
			background-color: transparent;
		}
	}
	transition: $transition;
	border-top: $border;
	.container-fulid{
		.col-lg-8{
			margin: 0;
			padding: 0;
			span{
			ul{
				margin-left: 50px;
				li{
						i{
						margin-left: 5px;
					}
					text-decoration: none;
					float: left;
					margin-right: 20px;
					margin-top: 25px;
					margin-bottom: 30px;
					font-size: 18px;
					list-style: none;
					}
				.down{
					&:hover{
						i{
							
							transition: $transition;
						}
					}
					&:after{
						content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    right: 50%;
    border-bottom: 5px solid #17c2cd;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
					}
					
				}
			}
		}
		}
		.col-lg-4{
			margin: 0;
			padding: 0;
			span{
				ul{
					margin-right: 50px;
					li{
						&:hover{
							i{
								color: $hovercolor;
							transition: $transition;
							}
						}
						i{
							color: #8A8A8A;
							font-size: 25px;
						}
					text-decoration: none;
					float: right;
					margin-right: 20px;
					margin-top: 15px;
					margin-bottom: 15px;
					list-style: none;
					}
				}
			}
		}
	}
	#myCarousel{
		ol{
			    margin-bottom: 140px;
		}
		a{
			width: 40px;
			background: #A7A7B7;
			&:hover{
				.line-left{
					
					width: 100px!important;
					transform: translate(-10px);
					transition: .3s ease; 
				}
				.line-right{
					
					width: 100px!important;
					transform: translate(10px);
					transition: .3s ease; 
				}
				i{
					color: $hovercolor;
				}
				.sag{
					border: 2px solid white;
					margin-left: 20px;
					transition: $transition;
				}
				.sol{
					margin-right: 20px;
					transition: $transition;
					border: 2px solid white;
				}
				
				
			}
			i{
				font-size: 2em;
				line-height: 730px;
			}
			.line-left{
				border: 2px solid white;
				width: 100px !important;
				height: 2px !important;
				position: absolute;
				top: 366px;
				left: 27px;	
			}
			.line-right{
				border: 2px solid white;
				width: 100px !important;
				height: 2px !important;
				position: absolute;
				top: 366px;
				right: 27px;	
			}
		}
		.carousel-indicators{
			li{
				margin-right: 20px;
				color: #393B51;
				background-color: #A994A6;
			}
		}
		.carousel-inner{
			.item{
				h2{
					color: white;
					font-weight: bold;
					font-size: 80px;
					font-family: "Russo One",sans-serif;
					text-align: center;
					background-color: transparent;
					position: absolute;
				}
			}
		}
		
	}
}
#info{
	margin-top: -112px;
	.container{
		.row{
			.col-lg-4{
				.example{
					&:hover{
						.world{
							i{
								margin-right: 15px;
								transition: .4s;
							}
						}
					}
					.world{
						padding: 23px 0 0 24px;
						width: 336px;
						height: 75px;
						background: #F0A951;
						p{
							display: inline-block;
							font-size: 20px;
							color: #FFFBF7
						}
						i{
							font-size: 2em;	
							float: right;
							margin-right: 25px;
							color: white;
						}
					}	
					}
					.example-2{
					&:hover{
						.world{
							i{
								margin-right: 15px;
								transition: .4s;
							}
						}
					}
					.world{
						padding: 23px 0 0 24px;
						width: 336px;
						height: 75px;
						background: #25BDA7;
						p{
							display: inline-block;
							font-size: 20px;
							color: #FFFBF7
						}
						i{
							font-size: 2em;	
							float: right;
							margin-right: 25px;
							color: white;
						}
					}	
					}
					.example-3{
					&:hover{
						.world{
							i{
								margin-right: 15px;
								transition: .4s;
							}
						}
					}
					.world{
						padding: 23px 0 0 24px;
						width: 336px;
						height: 75px;
						background: #B046C5;
						p{
							display: inline-block;
							font-size: 20px;
							color: #FFFBF7
						}
						i{
							font-size: 2em;	
							float: right;
							margin-right: 25px;
							color: white;
						}
					}	
					}
					.picture{
						img{
							width: 336px;
						}
					}
					
					
				}
					
				}
			}
		}
	
